<header class="header">

    <a class="logo"> TECH<span> FIT</span></a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
        
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/features">Features</a>
            <a routerLink="/pricing">Pricing</a>
            <a routerLink="/trainers">Trainers</a>
            <a routerLink="/blogs">Blogs</a>
        
        
            <button type="button" (click)="onClick()" class="btn btn-danger">Logout</button>
          
    </nav>
</header>

<section class="about" id="about">

    <div class="image">
        <img src="../../assets/about-img.jpg" >
    </div>

    <div class="content">
        <span>about us</span>
        <h3 class="title">Why should you choose us?</h3>
        <p>Achieving fitness goals is not easy. Knowing how to exercise, finding time to exercise, and keeping motivated are common challenges. Getting yourself to the gym may feel much more overwhelming than actually working towards your goal. To lose weight or increase fitness levels, it’s time to try something different. BE FITcan help you achieve the results you want.</p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>Body and Mind</h3>
                <p>The mind cannot feel a desk or smell a flower. It needs the body to relate those findings so that later it can make a judgment or decision on past knowledge. </p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Healthy life</h3>
                <p>A healthy lifestyle has many benefits not only for the body but for the mind too.</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Strategies</h3>
                <p>Live well, Feel great and look great</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Workout</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, enim.</p>
            </div>
        </div>
        <a href="#" class="btn">read more</a>
    </div>

</section>

<section class="footer">

    <div class="box-container">
  
        <div class="box">
            <h3>quick links</h3>
            <a class="links" href="#home">home</a>
            <a class="links" href="#about">about</a>
            <a class="links" href="#features">features</a>
            <a class="links" href="#pricing">pricing</a>
            <a class="links" href="#trainers">trainers</a>
            <a class="links" href="#blogs">blogs</a>
        </div>
  
        <div class="box">
            <h3>opening hours</h3>
            <p> monday : <i> 7:00am - 10:30pm </i> </p>
            <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
            <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
            <p> friday : <i> 7:00am - 10:30pm </i> </p>
            <p> saturday : <i> 7:00am - 10:30pm </i> </p>
            <p> sunday : <i> closed </i> </p>
        </div>
  
        <div class="box">
            <h3>opening hours</h3>
            <p> <i class="fas fa-phone"></i> 8197795431 </p>
            <p> <i class="fas fa-phone"></i> 7259730966</p>
            <p> <i class="fas fa-envelope"></i> nidhigkumar@gmail.com </p>
            <p> <i class="fas fa-map"></i> bangalore, india - 560050 </p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
        </div>


