<header class="header">

    <a class="logo"> TECH<span> FIT</span></a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
        
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/features">Features</a>
            <a routerLink="/pricing">Pricing</a>
            <a routerLink="/trainers">Trainers</a>
            <a routerLink="/blogs">Blogs</a>
        
        
            <button type="button" (click)="onClick()" class="btn btn-danger">Logout</button>
          
    </nav>
</header>

<section class="trainers" id="trainers">

    <h1 class="heading"> <span>expert trainers</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="../../assets/trainer-1.jpg" alt="">
            <div class="content">
                <span>Gym Trainer</span>
                <h3>COACH ROHAN</h3>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="../../assets/trainer-2.jpg" alt="">
            <div class="content">
                <span>Gym Trainer</span>
                <h3>COACH NIDHI</h3>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="../../assets/diet trainer.jpg" alt="">
            <div class="content">
                <span> Nutritionist</span>
                <h3>COACH DEEPAK</h3>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="../../assets/trainer yoga.jpg">
            <div class="content">
                <span>yoga trainer</span>
                <h3>COACH JAYANTH </h3>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="footer">

    <div class="box-container">
  
        <div class="box">
            <h3>quick links</h3>
            <a class="links" href="#home">home</a>
            <a class="links" href="#about">about</a>
            <a class="links" href="#features">features</a>
            <a class="links" href="#pricing">pricing</a>
            <a class="links" href="#trainers">trainers</a>
            <a class="links" href="#blogs">blogs</a>
        </div>
  
        <div class="box">
            <h3>opening timings</h3>
            <p> monday : <i> 7:00am - 10:30pm </i> </p>
            <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
            <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
            <p> friday : <i> 7:00am - 10:30pm </i> </p>
            <p> saturday : <i> 7:00am - 10:30pm </i> </p>
            <p> sunday : <i> closed </i> </p>
        </div>
  
        <div class="box">
            <h3>opening hours</h3>
            <p> <i class="fas fa-phone"></i> 8197795431 </p>
            <p> <i class="fas fa-phone"></i> 7259730966</p>
            <p> <i class="fas fa-envelope"></i> nidhigkumar@gmail.com </p>
            <p> <i class="fas fa-map"></i> bangalore, india - 560050 </p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
        </div> 