<header class="header">

    <a class="logo"> TECH<span> FIT</span></a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
        
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/features">Features</a>
            <a routerLink="/pricing">Pricing</a>
            <a routerLink="/trainers">Trainers</a>
            <a routerLink="/blogs">Blogs</a>
        
        
            <button type="button" (click)="onClick()" class="btn btn-danger">Logout</button>
          
    </nav>
</header>

<section class="pricing" id="pricing">

    <div class="information">
        <span>pricing plan</span>
        <h3>affordable pricing plan for your</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam dolore excepturi ea suscipit fugiat cum quae, rerum optio mollitia! Tempora?</p>
        <p> <i class="fas fa-check"></i> cardio exercise </p>
        <p> <i class="fas fa-check"></i> weight lifting </p>
        <p> <i class="fas fa-check"></i> diet plans </p>
        <p> <i class="fas fa-check"></i> overall results </p>
        <a href="#" class="btn">all pricing</a>
    </div>

    <div class="plan basic">
        <h3>basic plan</h3>
        <div class="price"><span>₹</span>6500<span>/mo</span></div>
       <div class="list">
        <p> <i class="fas fa-check"></i> Weight training </p>
        <p> <i class="fas fa-check"></i> Cardio exercise </p>
        <p> <i class="fas fa-check"></i> Meditation </p>
        <p> <i class="fas fa-check"></i> Diet plans </p>
       </div>
       <a href="#" class="btn">get started</a>
    </div>

    <div class="plan">
        <h3>premium plan</h3>
        <div class="price"><span>₹</span>8000<span>/mo</span></div>
       <div class="list">
        <p> <i class="fas fa-check"></i> Personal training </p>
        <p> <i class="fas fa-check"></i> Cardio exercise </p>
        <p> <i class="fas fa-check"></i> Mobility</p>
        <p> <i class="fas fa-check"></i> Pilates </p>
        <p> <i class="fas fa-check"></i> Kick boxing & MMA </p>
       </div>
       <a href="#" class="btn">get started</a>
    </div>

</section>

<section class="footer">

    <div class="box-container">
  
        <div class="box">
            <h3>quick links</h3>
            <a class="links" href="#home">home</a>
            <a class="links" href="#about">about</a>
            <a class="links" href="#features">features</a>
            <a class="links" href="#pricing">pricing</a>
            <a class="links" href="#trainers">trainers</a>
            <a class="links" href="#blogs">blogs</a>
        </div>
  
        <div class="box">
            <h3>opening timings</h3>
            <p> monday : <i> 7:00am - 10:30pm </i> </p>
            <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
            <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
            <p> friday : <i> 7:00am - 10:30pm </i> </p>
            <p> saturday : <i> 7:00am - 10:30pm </i> </p>
            <p> sunday : <i> closed </i> </p>
        </div>
  
        <div class="box">
            <h3>opening hours</h3>
            <p> <i class="fas fa-phone"></i> 8197795431 </p>
            <p> <i class="fas fa-phone"></i> 7259730966</p>
            <p> <i class="fas fa-envelope"></i> nidhigkumar@gmail.com </p>
            <p> <i class="fas fa-map"></i> bangalore, india - 560050 </p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
        </div>     
